<div class="page-header">
    <h1 class="page-title">Dashboard</h1>
    <p class="page-description"></p>
    <div class="page-header-actions">
        <a class="btn btn-sm btn-inverse btn-round waves-effect waves-light waves-round"
            href="http://clippings.github.io/layout-grid/" target="_blank">
            <i class="icon md-link" aria-hidden="true"></i>
            <span class="hidden-sm-down">Official Website</span>
        </a>
    </div>
</div>
<div class="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Quick Example
                <span class="panel-desc">Static responsive grid with pure css. Javascript using native drag-n-drop
                    to reorder for each screen size on desktop and mobile.</span>
            </h3>
        </div>
        <div class="panel-body">
            <pre [innerHTML]="menuStructure | prettyprint"></pre>
        </div>
    </div>
</div>