.site-menu-category {
    padding: 0 24px;
    margin-top: 11px;
    font-size: 12px;
    font-weight: 500;
    line-height: 38px;
    color: #757575;
    text-transform: uppercase;
    transition: all .25s, font .1s .15s, color .1s .15s;
}

.site-menu-item.active {
    background: rgba(33, 33, 33, 0.08);
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.site-menu-item {
    line-height: 36px;
    transition: all .25s, border 0, -webkit-transform .1s;
    transition: transform .1s, all .25s, border 0;
    transition: transform .1s, all .25s, border 0, -webkit-transform .1s;
    position: relative;
    white-space: nowrap;
}

.site-menu-item {
    padding: 0;
}

.site-menu-item>a {
    display: block;
    padding: 0 30px;
    line-height: 38px;
    color: #424242;
    background: transparent;
    font-weight: 400;
}

.site-menu-icon {
    margin-right: 14px;
    width: 1em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-top: 9px;
}

.site-menu-item>a .site-menu-title {
    font-size: 14px;
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.site-menu-item.open>a .site-menu-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.site-menu-item:not(.open)>a .site-menu-arrow {
    -webkit-transform: none;
    transform: none;
}

.site-menu-arrow {
    display: inline-block;
    position: absolute;
    right: 11px;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    padding-top: 12px;
}

.site-menu-item.open>.site-menu-sub {
    display: block;
}

.site-menu-item:not(.open)>.site-menu-sub {
    display: none;
}

.site-menu-sub {
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    background: transparent;
}

.site-menu-sub .site-menu-item {
    line-height: 36px;
    color: rgba(117, 117, 117, 0.9);
    background: transparent;
}

.site-menu-sub .site-menu-item.has-sub {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.site-menu-sub .site-menu-item>a {
    padding: 0;
    padding-left: 58px;
}

.site-menu-sub .site-menu-item.open {
    background: rgba(33, 33, 33, 0.05);
}

.site-menu-sub .site-menu-item.open>a {
    color: #424242;
}

.site-menu-sub .site-menu-item.open.hover>a {
    background-color: transparent;
}

.site-menu-sub .site-menu-item.hover>a, .site-menu-sub .site-menu-item:hover>a {
    color: #424242;
    background-color: rgba(255, 255, 255, 0.02);
}

.site-menu-sub .site-menu-item.active {
    background: rgba(33, 33, 33, 0.05);
}

.site-menu-sub .site-menu-item.active>a {
    color: #424242;
}

.site-menu-sub .site-menu-item.active.hover>a {
    background-color: transparent;
}

/* .site-menubar-dark .site-menu .site-menu-sub .site-menu-item.open {
    background: rgba(0, 0, 0, 0.06);
}

.site-menubar-dark .site-menu .site-menu-sub .site-menu-item.open>a {
    color: #fff;
}

.site-menubar-dark .site-menu .site-menu-sub .site-menu-item.hover, .site-menubar-dark .site-menu .site-menu-sub .site-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.site-menubar-dark .site-menu .site-menu-sub .site-menu-item.hover>a, .site-menubar-dark .site-menu .site-menu-sub .site-menu-item:hover>a {
    color: rgba(255, 255, 255, 0.8);
}

.site-menubar-dark .site-menu .site-menu-sub .site-menu-item.hover.open, .site-menubar-dark .site-menu .site-menu-sub .site-menu-item:hover.open {
    background-color: rgba(0, 0, 0, 0.06);
}

.site-menubar-dark .site-menu .site-menu-sub .site-menu-item.active {
    background: rgba(0, 0, 0, 0.06);
}

.site-menubar-dark .site-menu .site-menu-sub .site-menu-item.active>a {
    color: #fff;
} */

/* (ul)site-menu
    (li)site-menu-category

 (1)(li)site-menu-item
        a
            (mat-icon)site-menu-icon
            (span)site-menu-title

 (2)(li)site-menu-item has-sub
        a
            (mat-icon)site-menu-icon
            (span)site-menu-title
            (mat-icon)site-menu-icon site-menu-arrow

 (3)    (ul)site-menu-sub
            (li)site-menu-item
                a
                    (span)site-menu-title
            (li)site-menu-item has-sub
                a
                    (span)site-menu-title
                    (mat-icon)site-menu-icon site-menu-arrow
                (ul)site-menu-sub
                    (li)site-menu-item
                        a
                            (span)site-menu-title

li = has-sub open active */