<ng-container *ngFor="let menuEntry of menuStructure">

    <ng-container *ngIf="menuEntry.isCategory">
        <li class="site-menu-category">{{menuEntry.name}}</li>
        <app-mdc-sidenav-drawer-menu-items [menuStructure]="menuEntry.items"></app-mdc-sidenav-drawer-menu-items>
    </ng-container>

    <ng-container *ngIf="!menuEntry.isCategory && menuEntry.items.length === 0">
        <li class="site-menu-item" [routerLinkActive]="'active'">
            <a [routerLink]="menuEntry.href">
                <mat-icon aria-label="icon" class="site-menu-icon">{{menuEntry.icon}}</mat-icon>
                <span class="site-menu-title">{{menuEntry.name}}</span>
            </a>
        </li>
    </ng-container>

    <ng-container *ngIf="!menuEntry.isCategory && menuEntry.items.length > 0">
        <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
                <mat-icon aria-label="icon" class="site-menu-icon">{{menuEntry.icon}}</mat-icon>
                <span class="site-menu-title">{{menuEntry.name}}</span>
                <mat-icon aria-label="icon" class="site-menu-icon site-menu-arrow">keyboard_arrow_right
                </mat-icon>
            </a>
            <ul class="site-menu-sub">
                <app-mdc-sidenav-drawer-menu-items [menuStructure]="menuEntry.items"></app-mdc-sidenav-drawer-menu-items>
            </ul>
        </li>
    </ng-container>

</ng-container>