<div>

  <app-mdc-maua-header></app-mdc-maua-header>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer mode="side" opened>
      <app-mdc-left-menu></app-mdc-left-menu>
    </mat-sidenav>

    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <app-mdc-maua-sidenav-content>
        <ng-content></ng-content>
      </app-mdc-maua-sidenav-content>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-mdc-maua-footer></app-mdc-maua-footer>

</div>