<mat-toolbar class="site-navbar">
    <div class="site-navbar-brand">
        <img class="site-navbar-brand-logo" src="/assets/images/logo.png" title="{{toolbarMenuTitle}}">
        <span class="site-navbar-brand-text"> {{toolbarMenuTitle}}</span>
    </div>
    <!-- <span class="fill-remaining-space"></span>
    <span>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">arrow_backward</mat-icon>
        </button>
    </span> -->
</mat-toolbar>