.drawer-profile {
    width: 260px;
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cover {
    height: 100%;
}

.overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.overlay-background {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.bg-image {
    background-image: url('/assets/images/background/dashboard-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: 1000px;
    margin-right: 20px;
}

.avatar i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
}

.avatar-online i {
    background-color: #4caf50;
}

.avatar-off i {
    background-color: #616161;
}

.avatar-busy i {
    background-color: #ff9800;
}

.avatar-away i {
    background-color: #f44336;
}

.avatar-100 {
    width: 100px;
}

.avatar-100 i {
    width: 20px;
    height: 20px;
}

.avatar-lg {
    width: 50px;
}

.avatar-lg i {
    width: 12px;
    height: 12px;
}

.avatar-sm {
    width: 30px;
}

.avatar-sm i {
    width: 8px;
    height: 8px;
}

.avatar-xs {
    width: 20px;
}

.avatar-xs i {
    width: 7px;
    height: 7px;
}

.vertical-align {
    font-size: 0;
}

.vertical-align::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.vertical-align-middle, .vertical-align-bottom {
    display: inline-block;
    max-width: 100%;
    font-size: 1rem;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.overlay-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 20px; */
    padding-left: 20px;
    color: #fff;
}

.overlay-panel a:not([class]) {
    color: inherit;
    text-decoration: underline;
}

.overlay-panel> :last-child {
    margin-bottom: 0;
}

.overlay-panel h1, .overlay-panel h2, .overlay-panel h3, .overlay-panel h4, .overlay-panel h5, .overlay-panel h6 {
    color: inherit;
}

.vertical-align-middle, .vertical-align-bottom {
    display: inline-block;
    max-width: 100%;
    font-size: 1rem;
}

.vertical-align-middle {
    vertical-align: middle;
}

.site-menubar-info {
    overflow: hidden;
}

.site-menubar-user {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #fff;
}

.site-menubar-email {
    margin-bottom: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}