p {
    font-family: Lato;
}

.page {
    /* width: 100%; */
    height: calc(100vh - 100px);
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    background: #eceff1;
}

.page-layout {
    padding: 20px;
}