p {
    font-family: Lato;
}

.page {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    background: #eceff1;
}

/* .page-layout {
    padding: 20px;
} */

.page-footer {
    height: calc(100vh - 100px);
}

.page-no_footer {
    height: calc(100vh - 60px);
}