<div>

    <mat-nav-list>
        <div class="site-menubar">
            <div class="site-menubar-body">
                <div>
                    <div>
                        <ul class="site-menu">
                            <app-mdc-maua-sidenav-drawer-menu-items [menuStructure]="menuStructure">
                            </app-mdc-maua-sidenav-drawer-menu-items>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </mat-nav-list>

</div>