<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="drawerRole" [mode]="drawerMode"
        position="drawerPosition" [opened]="drawerOpened">
        <mat-toolbar class="site-navbar">
            <div class="site-navbar-brand">
                <img class="site-navbar-brand-logo" src="/assets/images/logo.png" title="{{toolbarMenuTitle}}">
                <span class="site-navbar-brand-text"> {{toolbarMenuTitle}}</span>
            </div>
            <!-- <span class="fill-remaining-space"></span>
            <span>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">arrow_backward</mat-icon>
                </button>
            </span> -->
        </mat-toolbar>
        <mat-nav-list>
            <div class="site-menubar">
                <div class="site-menubar-body">
                    <div>
                        <div>
                            <ul class="site-menu">
                                <li class="site-menu-category">General</li>
                                <!-- Dashboard -->
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="index.html">
                                        <mat-icon aria-label="icon" class="site-menu-icon">dashboard</mat-icon>
                                        <span class="site-menu-title">Dashboard</span>
                                    </a>
                                </li>
                                <!-- Layouts -->
                                <li class="site-menu-item has-sub open active">
                                    <a href="javascript:void(0)">
                                        <mat-icon aria-label="icon" class="site-menu-icon">view_quilt</mat-icon>
                                        <span class="site-menu-title">Layouts</span>
                                        <mat-icon aria-label="icon" class="site-menu-icon site-menu-arrow">keyboard_arrow_right</mat-icon>
                                    </a>
                                    <ul class="site-menu-sub">
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/menu-collapsed.html">
                                                <span class="site-menu-title">Menu Collapsed</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/menu-expended.html">
                                                <span class="site-menu-title">Menu Expended</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/grids.html">
                                                <span class="site-menu-title">Grid Scaffolding</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/layout-grid.html">
                                                <span class="site-menu-title">Layout Grid</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/headers.html">
                                                <span class="site-menu-title">Different Headers</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/panel-transition.html">
                                                <span class="site-menu-title">Panel Transition</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/boxed.html">
                                                <span class="site-menu-title">Boxed Layout</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/two-columns.html">
                                                <span class="site-menu-title">Two Columns</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/bordered-header.html">
                                                <span class="site-menu-title">Bordered Header</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/menubar-flipped.html">
                                                <span class="site-menu-title">Menubar Flipped</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="layouts/menubar-native-scrolling.html">
                                                <span class="site-menu-title">Menubar Native Scrolling</span>
                                            </a>
                                        </li>
                                        <li class="site-menu-item has-sub">
                                            <a href="javascript:void(0)">
                                                <span class="site-menu-title">Page Aside</span>
                                                <span class="site-menu-arrow"></span>
                                            </a>
                                            <ul class="site-menu-sub">
                                                <li class="site-menu-item">
                                                    <a class="animsition-link" href="layouts/aside-left-static.html">
                                                        <span class="site-menu-title">Left Static</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a class="animsition-link" href="layouts/aside-right-static.html">
                                                        <span class="site-menu-title">Right Static</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a class="animsition-link" href="layouts/aside-left-fixed.html">
                                                        <span class="site-menu-title">Left Fixed</span>
                                                    </a>
                                                </li>
                                                <li class="site-menu-item">
                                                    <a class="animsition-link" href="layouts/aside-right-fixed.html">
                                                        <span class="site-menu-title">Right Fixed</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="showToolbarMenuButton">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span *ngIf="showToolbarTitle">{{toolbarTitle}}</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>