<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="drawerRole" [mode]="drawerMode"
        position="drawerPosition" [opened]="drawerOpened">
        <mdc-sidenavbar></mdc-sidenavbar>
        <mdc-sidenavmenubar></mdc-sidenavmenubar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mdc-sidenavtoolbar></mdc-sidenavtoolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>