<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">

    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
        <mdc-maua-sidenav-drawer-profile></mdc-maua-sidenav-drawer-profile>
        <mdc-maua-sidenav-drawer-menu></mdc-maua-sidenav-drawer-menu>
    </div>

    <span class="spacer"></span>

    <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
        <button mat-icon-button (click)="onSidenavToggle()">
            <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
            <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
        </button>
    </div>

</div>