<div>
    <div>
        <mdc-menuitem [menu]="menuStructure"></mdc-menuitem>
    </div>
</div>
<!-- @ul@site-menu
    @li@site-menu-category

 @1@@li@site-menu-item
        a
            @mat-icon@site-menu-icon
            @span@site-menu-title

 @2@@li@site-menu-item has-sub
        a
            @mat-icon@site-menu-icon
            @span@site-menu-title
            @mat-icon@site-menu-icon site-menu-arrow

 @3@    @ul@site-menu-sub
            @li@site-menu-item
                a
                    @span@site-menu-title
            @li@site-menu-item has-sub
                a
                    @span@site-menu-title
                    @mat-icon@site-menu-icon site-menu-arrow
                @ul@site-menu-sub
                    @li@site-menu-item
                        a
                            @span@site-menu-title

li = has-sub open active -->